{% extends 'horizontal.html' %}

{% load static %}

{% block title %}Mini-LMS{% endblock title %}

{% block page_title %}
{% include 'partials/topbar.html'  %}
{% endblock page_title %}

{% block extra_css %}{% endblock extra_css %}

{% block page_content %}
<div class="py-4">

  <!-- HERO -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
        <div>
          <h3 class="mb-1">Catálogo de cursos</h3>
          <p class="text-muted mb-0">Explorar cursos disponibles. Para gestionar cursos y acceder al panel, se requiere iniciar sesión.</p>
        </div>

        <div class="d-flex gap-2">
          {% if request.user.is_authenticated %}
            <a href="{% url 'users:panel' %}" class="btn btn-primary">Ir al panel</a>

            {% if request.user.es_administrador or request.user.es_docente %}
              <a href="{% url 'cursos_panel:lista' %}" class="btn btn-outline-secondary">Gestionar cursos</a>
            {% endif %}

            <a href="{% url 'account_logout' %}" class="btn btn-outline-danger">Cerrar sesión</a>
          {% else %}
            <p>Vista pública</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- GRID DE CURSOS -->
  <div class="row g-3">
    {% for c in cursos %}
      <div class="col-md-6 col-lg-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title mb-1">{{ c.titulo }}</h5>
            <div class="text-muted small mb-2">
              Docente: {{ c.docente.name|default:c.docente.username }} · Inicio: {{ c.fecha_inicio }}
            </div>
            <p class="card-text mb-0">
              {{ c.descripcion|default:"Sin descripción."|truncatechars:130 }}
            </p>
          </div>
          <div class="card-footer bg-transparent border-0 pt-0">
            <a class="btn btn-sm btn-outline-primary" href="{% url 'cursos:detalle' c.id %}">Ver detalle</a>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <div class="alert alert-info mb-0">No hay cursos activos todavía.</div>
      </div>
    {% endfor %}
  </div>

</div>


{% endblock page_content %}

{% block extra_javascript %}
<script src="{% static '/vendor/apexcharts/apexcharts.min.js' %}"></script>

<!-- Projects Analytics Dashboard App js -->
<script src="{% static '/js/pages/dashboard.js' %}"></script>
{% endblock extra_javascript %}